@use '../mixins' as *;

@mixin components {
  // Horizontal Rule
  hr {
    border-top: 2px solid var(--nb-border);
    margin: 2.5rem 0;
  }

  // Blockquote
  blockquote {
    font-size: 0.97em;
    margin: 1.4rem 0;
    border-left: solid 3px var(--nb-border);
    padding: 2px 0 2px 0.7em;
    color: var(--nb-muted-foreground);

    p {
      margin: 1rem 0;
    }

    & > :first-child {
      margin-top: 0;
    }

    & > :last-child {
      margin-bottom: 0;
    }

    &.twitter-tweet {
      display: none;
    }
  }
}
