@use '../mixins' as *;

@mixin custom-containers {
  // ::: details
  // contents
  // :::
  details {
    font-size: 0.95em;
    margin: 1rem 0;
    line-height: 1.7;
  }

  summary {
    cursor: pointer;
    outline: 0;
    padding: 0.7em 0.7em 0.7em 0.9em;
    border: solid 1px var(--nb-border);
    color: var(--nb-primary);
    font-size: 0.9em;
    border-radius: var(--nb-rounded-sm);
    background: var(--nb-background);

    &::-webkit-details-marker {
      color: var(--nb-muted-foreground);
    }
  }

  details[open] > summary {
    border-radius: var(--nb-rounded-sm) var(--nb-rounded-sm) 0 0;
    box-shadow: none;
    background: var(--nb-background);
    border-bottom: none;
  }

  .details-content {
    padding: 0.5em 0.9em;
    border: solid 1px var(--nb-border);
    border-radius: 0 0 var(--nb-rounded-lg) var(--nb-rounded-lg);
    background: var(--nb-background);

    & > * {
      margin: 0.5em 0;
    }
  }

  // ::: bubble
  // markdown
  // :::
  .bubble {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;

    img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 2px solid var(--nb-border);
      padding: 0.2rem;
    }

    .bubble-content {
      position: relative;
      width: 100%;
      padding: 0.5rem 0.8rem;
      color: var(--nb-foreground);
      background-color: var(--nb-secondary);
      border-radius: 5px;

      p + p {
        margin-top: 0.4em;
      }

      &::before,
      &::after {
        position: absolute;
        top: 50%;
        left: -12px;
        width: 12px;
        height: 15px;
        clip-path: polygon(0 50%, 100% 0, 100% 100%);
        content: '';
        transform: translateY(-50%);
      }

      &::before {
        background-color: var(--nb-secondary);
      }

      &::after {
        left: -9px;
        background-color: var(--nb-secondary);
      }
    }

    &.right {
      flex-direction: row-reverse;

      .bubble-content {
        &::before,
        &::after {
          left: auto;
          right: -12px;
          clip-path: polygon(0 0, 100% 50%, 0 100%);
        }

        &::after {
          left: auto;
          right: -9px;
        }
      }
    }
  }

  // ::: bubbleImage
  // markdown
  // :::
  .bubble-image {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1.5rem 0;

    .bubble-image-wrapper {
      overflow: hidden;
      flex-basis: 40%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      max-width: 100%;
      border: 2px solid var(--nb-border);
      border-radius: 5px;

      .browser-header {
        display: flex;
        align-items: center;
        padding: 0.6rem 1rem;
        background-color: var(--nb-secondary);
        width: 100%;

        .controls {
          display: flex;
          gap: 0.5rem;

          .control-btn {
            width: 8px;
            height: 8px;
            border-radius: 50%;
          }

          .control-btn.close {
            background-color: #ef4444;
          }

          .control-btn.minimize {
            background-color: #eab308;
          }

          .control-btn.maximize {
            background-color: #22c55e;
          }
        }
      }

      img {
        width: 100%;
        height: auto;
        margin: 0;
      }
    }

    .bubble-image-content {
      flex-basis: 60%;
      position: relative;
      width: 100%;
      padding: 0.5rem 0.8rem;
      color: var(--nb-foreground);
      background-color: var(--nb-secondary);
      border-radius: 5px;

      p + p {
        margin-top: 0.4em;
      }

      &::before,
      &::after {
        position: absolute;
        top: 50%;
        left: -12px;
        width: 12px;
        height: 15px;
        clip-path: polygon(0 50%, 100% 0, 100% 100%);
        content: '';
        transform: translateY(-50%);
        background-color: var(--nb-secondary);
      }

      &::after {
        left: -9px;
      }
    }

    @include mq(md) {
      flex-direction: column;

      .bubble-image-content {
        &::before,
        &::after {
          top: -12px;
          left: 50%;
          width: 28px;
          height: 12px;
          clip-path: polygon(50% 0, 0 100%, 100% 100%);
          transform: translateX(-50%);
        }

        &::after {
          top: -9px;
        }
      }
    }
  }

  // Box
  // ::: box1 title
  // contents
  // :::
  .box {
    margin: 1.5rem 0;

    p + p {
      margin-top: 0.4em;
    }

    &.box1 {
      position: relative;
      border: 1px solid var(--nb-border);
      border-radius: var(--nb-rounded-sm);
      padding: 1rem;

      span {
        position: absolute;
        top: 0;
        left: 1rem;
        font-size: 1.2em;
        color: var(--nb-foreground);
        background-color: var(--nb-background);
        padding: 0 0.5em;
        transform: translateY(-50%);
      }
    }

    &.box2 {
      position: relative;
      border-radius: var(--nb-rounded-sm);
      padding: 1rem;
      background-color: var(--nb-secondary);
    }

    &.box3 {
      position: relative;
      border-radius: var(--nb-rounded-sm);
      padding: 1rem;
      background-color: var(--nb-background);
      border: 2px solid var(--nb-warning-foreground);

      .msg-container {
        position: absolute;
        top: 0;
        left: 1rem;
        background-color: var(--nb-background);
        padding: 0 0.5rem;
        transform: translateY(-50%);
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.3rem;
        color: var(--nb-warning-foreground);
        font-weight: bold;
      }

      .icon {
        box-sizing: border-box;
        position: relative;
        width: 20px;
        height: 20px;
        border: 2px solid var(--nb-warning-foreground);
        background-color: var(--nb-warning-foreground);
        border-radius: 50%;

        &::before,
        &::after {
          content: '';
          position: absolute;
          border-radius: 3px;
          width: 2px;
          background: #fff;
          left: 7px;
        }

        &::before {
          top: 2px;
          height: 2px;
        }

        &::after {
          height: 8px;
          bottom: 2px;
        }
      }
    }

    &.box4 {
      position: relative;
      border-radius: var(--nb-rounded-sm);
      padding: 1rem;
      background-color: var(--nb-background);
      border: 2px solid var(--nb-danger-foreground);

      .msg-container {
        position: absolute;
        top: 0;
        left: 1rem;
        background-color: var(--nb-background);
        padding: 0 0.5rem;
        transform: translateY(-50%);
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.3rem;
        color: var(--nb-danger-foreground);
        font-weight: bold;
      }

      .icon {
        box-sizing: border-box;
        position: relative;
        width: 20px;
        height: 20px;
        border: 2px solid var(--nb-danger-foreground);
        background-color: var(--nb-danger-foreground);
        border-radius: 50%;

        &::before,
        &::after {
          content: '';
          position: absolute;
          border-radius: 3px;
          width: 2px;
          background: #fff;
          left: 7px;
        }

        &::before {
          top: 2px;
          height: 2px;
        }

        &::after {
          height: 8px;
          bottom: 2px;
        }
      }
    }

    &.box5 {
      position: relative;
      border-radius: var(--nb-rounded-sm);
      padding: 1rem;
      background-color: var(--nb-warning);

      .dark & {
        color: var(--nb-background);
      }

      .msg-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.3rem;
        color: var(--nb-warning-foreground);
        font-weight: bold;
        margin-bottom: 0.5rem;
      }

      .icon {
        box-sizing: border-box;
        position: relative;
        width: 20px;
        height: 20px;
        border: 2px solid var(--nb-warning-foreground);
        background-color: var(--nb-warning-foreground);
        border-radius: 50%;

        &::before,
        &::after {
          content: '';
          position: absolute;
          border-radius: 3px;
          width: 2px;
          background: #fff;
          left: 7px;
        }

        &::before {
          top: 2px;
          height: 2px;
        }

        &::after {
          height: 8px;
          bottom: 2px;
        }
      }
    }

    &.box6 {
      position: relative;
      border-radius: var(--nb-rounded-sm);
      padding: 1rem;
      background-color: var(--nb-danger);

      .dark & {
        color: var(--nb-background);
      }

      .msg-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.3rem;
        color: var(--nb-danger-foreground);
        font-weight: bold;
        margin-bottom: 0.5rem;
      }

      .icon {
        box-sizing: border-box;
        position: relative;
        width: 20px;
        height: 20px;
        border: 2px solid var(--nb-danger-foreground);
        background-color: var(--nb-danger-foreground);
        border-radius: 50%;

        &::before,
        &::after {
          content: '';
          position: absolute;
          border-radius: 3px;
          width: 2px;
          background: #fff;
          left: 7px;
        }

        &::before {
          top: 2px;
          height: 2px;
        }

        &::after {
          height: 8px;
          bottom: 2px;
        }
      }
    }
  }

  // Heading
  // ::: heading1
  // markdown
  // :::
  .heading {
    margin: 1.5rem 0;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0;
      font-size: 1em;
    }

    &.heading1 {
      display: inline-block;
      position: relative;
      padding-left: 1.5rem;
      font-weight: bold;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 17px;
        height: 28px;
        color: var(--nb-primary);
        background-image: url(data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%221.25em%22%20viewBox%3D%220%200%20448%20512%22%3E%3Cstyle%3Esvg%7Bfill%3A%235ab9ff%7D%3C%2Fstyle%3E%3Cpath%20d%3D%22M438.6%20105.4c12.5%2012.5%2012.5%2032.8%200%2045.3l-256%20256c-12.5%2012.5-32.8%2012.5-45.3%200l-128-128c-12.5-12.5-12.5-32.8%200-45.3s32.8-12.5%2045.3%200L160%20338.7%20393.4%20105.4c12.5-12.5%2032.8-12.5%2045.3%200z%22%2F%3E%3C%2Fsvg%3E);
        background-position: 50%;
        background-repeat: no-repeat;
        content: '';
      }
    }
  }
}
