@use '../mixins' as *;

@mixin media {
  // Images
  img:not(.emoji) {
    margin: 1.5rem auto;
    display: table;
    max-width: 100%;
    height: auto;
  }
  img + br {
    display: none;
  }
  img ~ em {
    display: block;
    margin: -1rem auto 0;
    line-height: 1.3;
    text-align: center;
    color: var(--nb-muted-foreground);
    font-size: 0.92em;
  }
  a:has(img) {
    display: table;
    margin: 0 auto;
  }
}
